
.login {
  display: grid;
  place-items: center;
    height: 50vh;
    background-color: black;
  }
  
  .login img {
    width: 622.5px;
    height: 262.5px;
  }
  
  .btn {
    padding: 20px;
    background-color: #1db954;
    border-radius: 99px;
    color: white;
    text-decoration: none;
  }