body {
  background-color: #272727;
  color: white;
}

.container {
  margin: 20px;
  padding: 20px 15px;
  border: 2px solid #dcdcdc;
  text-align: center;
  font-size: 20px;
}


.search {
  width: 30%;
  border: 3px solid #86817c;
  border-right: none;
  padding: 5px;
  height: 20px;
}

.searchBtn {
  height: 20px;
  padding: 5px;
  padding-bottom: 29px;
  border: 1px solid #86817c;
  background-color:  #86817c;;
  text-align: center;
  border-radius: 0 5px 5 px 0;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}

.song {
  margin: 30px;
  float: left;
  width: 20%;
  display: inline-block;
}

.song h4 {
  font-size: 18px;
}

.song img {
  width: 300px;
  height: 300px;
  border-radius: 6px;
}

button{
  font-size: 20px;
  width: 100%;
  height: 40px;
}

/* 
@media all and (max-width: 1000px) {
  .song {
      width: 50%;
  }
}

@media all and (max-width: 670px) {
  .song {
      width: 100%;
  }
} */
