.container {
  margin: 20px;
  padding: 20px 15px;
  border: 2px solid #dcdcdc;
  text-align: center;
  font-size: 20px;
}

.song {
  margin: 30px;
  border-bottom: 1px solid #bfbdbd;
}

.song img {
  width: 400px;
  height: 400px;
  border-radius: 6px;
}

button{
  font-size: 20px;
  width: 400px;
  height: 40px;
}

@media all and (max-width: 1000px) {
  .song {
      width: 50%;
  }
}

@media all and (max-width: 670px) {
  .song {
      width: 100%;
  }
}
