.searchBar {
    border: 1px solid #fff;
    border-radius: 99px;
    width: 500px;
    padding: 20px;
    color: black;
    background-color: #fff;
}

.searchField {
    margin-left: 20px;
    background-color: transparent;
    border: 0px;
    outline: none;
    text-align: center;
    width: 470px;
    color: black;
}

.btnSearchBar{
    text-align: center;
    float: right;
    margin-right: 20px;
}


.clearSearch {
    margin: 30px;
}